<ons-page>
  <form>
    <div class="form-group" style="margin: 10px;">
      <label for="jersey_number">Jersey Number</label>
      <input type="number" class="form-control" id="jersey_number" placeholder="">
    </div>

    <div class="form-group" style="margin: 10px;">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="">
    </div>

    <div class="row" style="margin: 0px;">
      <div class="col">
        <div class="form-group">
          <label for="bats">Bats</label>
          <select class="form-control" id="bats">
            <option>R</option>
            <option>L</option>
            <option>S</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="throws">Throws</label>
          <select class="form-control" id="throws">
            <option>R</option>
            <option>L</option>
            <option>S</option>
          </select>
        </div>
      </div>
    </div>
 
    <div style="margin: 10px">
      <ons-button modifier="large" onclick="create_player()">Create Player</ons-button>
    </div>

    <div class="alert alert-success" style="margin: 10px; display: none" id="player_success">
      <strong>Success!</strong> Player created.
    </div>

    <div class="alert alert-danger" style="margin: 10px; display: none" id="player_failed">
      <strong>Failed!</strong> Player was not created.
    </div>
  </form>
</ons-page>
