<ons-page>
  <ons-toolbar>
    <div class="center">2nd String Baseball</div>
  </ons-toolbar>

  <ons-tabbar swipeable position="auto">
    <ons-tab page="create_game" label="Game" icon="ion-cube, material:md-home" active></ons-tab>
    <ons-tab page="create_player" label="Player" icon="ion-person-add, material:md-home"></ons-tab> 
    <ons-tab page="create_off_stats" label="Off. Stats" icon="ion-calculator, material:md-home"></ons-tab>
    <ons-tab page="create_pit_stats" label="Pit. Stats" icon="ion-calculator, material:md-home"></ons-tab>
    <ons-tab page="create_season" label="Season" icon="ion-grid, material:md-home"></ons-tab>
  </ons-tabbar>
</ons-page>
