<ons-page>
  <ons-toolbar>
    <div class="center">2nd String Baseball</div>
  </ons-toolbar>

  <ons-tabbar swipeable position="auto">
    <ons-tab page="welcome/home.html" label="Home" icon="ion-home, material:md-home" active></ons-tab>
    <ons-tab page="welcome/roster" label="Roster" icon="ion-person, material:md-home"></ons-tab>
    <ons-tab page="welcome/statistics" label="Stats" icon="ion-calculator, material:md-home"></ons-tab>
    <ons-tab page="welcome/gallery" label="Gallery" icon="ion-camera, material:md-home"></ons-tab>
  </ons-tabbar>
</ons-page>
